PORT=3010

# DB
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=hotelmanager
DB_PORT=5432
JWT_SECRET=my-super-secret-key-change-in-production

# Seeding
ADMIN_EMAIL=default@mail.com # для seeding суперадмина
ADMIN_PASSWORD=default

# URLS for services
FRONTEND_URL=url # CORS